<div class="top_div" align="right">
    <table class="top_table" rules=cols>
        <tr style="border-left: 1px solid lightgray;">
            <td style="border-left: 1px solid lightgray;"><a class="norma" style="font-size:15px; color: black;" href="/logout">로그아웃</a></td>
            <td style="border-left: 1px solid lightgray;"><a class="norma" style="font-size:15px; color: black;" href="/customer/cart">장바구니</a></td>
            <td style="border-left: 1px solid lightgray;"><a class="norma" style="font-size:15px; color: black;" href="/customer/mypage">마이페이지</a></td>
        </tr>
    </table>
</div>
<div style="text-align: center">
    <a class="norma" href="/customer"><img src="/images/logo.png" /></a>
</div>
<br><br>