<div class="top_div" align="right">
    <table class="top_table" rules=cols>
        <tr style="border-left: 1px solid lightgray;">
            <td style="border-left: 1px solid lightgray;"><a href="/logout">로그아웃</a></td>
        </tr>
    </table>
</div>

<div style="text-align: center">
    <a class="norma" href="/customer"><img src="/images/logo.png" /></a>
</div>
<br><br>
<div style="text-align: center; margin-bottom: 0px">
    <table class="tab_table" style="border-spacing: 5px">
        <tr>
            <td width=50 class="tab_noselect">
                <a href="/customer/tab">전체메뉴</a></td>
            <td width=50 class="tab_noselect">
                <a href="/customer/tab/1">새우장</a></td>
            <td width=50 class="tab_noselect">
                <a href="/customer/tab/2">게장</a></td>
            <td width=50 class="tab_noselect">
                <a href="/customer/tab/3">계란장</a></td>
            <td width=50 class="tab_noselect">
                <a href="/customer/tab/4">김치</a></td>
            <td width=50px></td>
            <td width=50 class="tab_noselect"><a href="/customer/notice">공지사항</a></td>
            <td width=50 class="tab_noselect"><a href="/customer/qna">질문답변</a></td>
        </tr>
    </table>
    <img src="/main_border.png" style="width: 90%; height: 1%; overflow: hidden;">
</div>